/* Font Family */
.family--Oswald {
    font-family: 'Oswald', sans-serif;
}

/* Color */
.color--white {
    color: #EFECF4;
}

.color--black {
    color: #100F0E;
}

.color--gray {
    color: #7A7A7A;
}

/* Size */
.size--sm {
    font-size: 18px;
}

.size--md {
    font-size: 32px;
}

.size--lg {
    font-size: 62px;
}

.size--xl {
    font-size: 72px;
}